{% extends 'blog/base.html' %}
{% load static %}
{% load i18n %}
{% block head_title %}Copyrighted Contents，nihonstudy{% endblock %}
{% block metas %}
<meta name="description"
      content="{% trans '联系方式' %}">
<meta name="keywords" content="{% trans '联系方式' %}, 霓虹Study">
{% endblock %}


{% block base_content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8" style="line-height:2">
            <div class="card rounded-0 border-0 p-3 f-16">
                <div class="heateor_sss_sharing_container heateor_sss_horizontal_sharing" heateor-sss-data-href="/contact/">
                <h4 class="font-weight-bold">{% trans "网站名称" %}：</h4>
                <p>霓虹Study</p>
                <h4 class="font-weight-bold">我的Email</h4>
                <p><a data-email="palmzhang19@gmail.com" href="mailto:palmzhang19@gmail.com"><span>palmzhang19@gmail.com</span></a></p>
                <h4 class="font-weight-bold">{% trans "欢迎互相学习，讨论" %}</h4>
                <p>
                    <ul>
                        <li>{% trans "本站几乎所有的内容是站长手动搜集整理的" %}</li>
                        <li>{% trans "是手动编辑的化就避免不了一些错误，如果有编辑错误，影响到了朋友们学习，作者在这里提前向朋友们说声抱歉" %}</li>
                        <li>{% trans "希望朋友们可以帮助我指出哪些地方出错了，作者后续会改正。" %}</li>
                        <li>{% trans "希望本站可以和大家一起成长，谢谢。" %}</li>
                    </ul>
                </p>
            </div>
        </div>
        </div>
        <div class="col-lg-4">
            {% include 'blog/tags/base_right.html' %}
        </div>
    </div>
</div>
{% endblock %}