{% extends 'blog/base.html' %}
{% load static %}
{% load i18n %}
{% block head_title %}Privacy Policy，nihonstudy{% endblock %}
{% block metas %}
<meta name="description"
      content="{% trans '隐私政策' %}">
<meta name="keywords" content="{% trans '隐私政策, 霓虹Study' %}">
{% endblock %}


{% block base_content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8" style="line-height:2">
            <div class="card rounded-0 border-0 p-3 f-16">
                <div class="heateor_sss_sharing_container heateor_sss_horizontal_sharing" heateor-sss-data-href="/privacy-policy-2/">

                <h2 class="font-weight-bold">{% trans "欢迎访问我站的隐私政策" %}</h2>
                <hr style="margin: .1rem;dashed #333;"/>
                <p>{% trans "编制本隐私政策是为了更好地服务那些关心如何在线使用他们的“个人身份信息”（PII）的人。 美国隐私法和信息安全中使用的 PII 是可以单独使用或与其他信息一起使用以识别、联系或定位单个人，或在上下文中识别个人的信息。 请仔细阅读我们的隐私政策，以清楚了解我们如何根据我们的网站收集、使用、保护或以其他方式处理您的个人身份信息。" %}</p>
                <h2 class="mt-2 font-weight-bold">{% trans "我站收集哪些个人信息" %}？</h2>
                <hr style="margin: .1rem;dashed #333;"/>
                <p>{% trans "在我们的网站上订购或注册时，您可能会被要求输入您的姓名、电子邮件地址、信用卡信息或其他详细信息，以帮助您获得体验。 您的卡信息通过第三方网关，例如 PayPal，这意味着您的详细信息是安全的，不会保存在我们的数据库中。" %}</p>
                <h2 class="mt-2 font-weight-bold">{% trans "我站什么时候收集信息" %}？</h2>
                <hr style="margin: .1rem;dashed #333;"/>
                <p>{% trans "当您在我们的网站上注册或在您的个人帐户面板中更改您的详细信息时，我们会从您那里收集所有必要的信息。" %}</p>
                <h2 class="mt-2 font-weight-bold">{% trans "我站怎么使用您的信息" %}？</h2>
                <hr style="margin: .1rem;dashed #333;"/>
                <p>{% trans "当您注册、购买、注册我们的时事通讯、回复调查或营销传播、浏览网站或通过以下方式使用某些其他网站功能时，我们可能会使用我们从您那里收集的信息" %}：</p>
                <ul class="pl-4 ml-2">
                    <li>{% trans "快速处理您的交易" %}。</li>
                    <li>{% trans "定期发送有关您的订单或其他产品和服务的电子邮件" %}。</li>
                </ul>
                <h2 class="mt-2 font-weight-bold">{% trans "我站如何保护访客信息" %}？</h2>
                <p>
                    {% trans "我们会定期扫描我们的网站是否存在安全漏洞和已知漏洞，以使您对我们网站的访问尽可能安全" %}。
                </p>
                <p>
                    {% trans "我们使用常规的恶意软件扫描" %}。
                </p>
                <p>{% trans "您的个人信息包含在安全网络之后，只有少数对此类系统具有特殊访问权限的人才能访问，并且需要对信息保密。 此外，您提供的所有敏感/信用信息均通过安全套接字层 (SSL) 技术进行加密" %}。</p>
                <p>{% trans "当用户下订单输入、提交或访问他们的信息时，我们会实施各种安全措施，以维护您个人信息的安全" %}。</p>
                <p>{% trans "所有交易均通过网关提供商处理，不会在我们的服务器上存储或处理" %}。</p>
                <h2 class="mt-2 font-weight-bold">{% trans "我站是否使用" %}“cookies”？</h2>
                <p>{% trans "我们不使用 cookie 进行跟踪" %}。
                </p>
                <p>{% trans "您可以选择在每次发送 cookie 时让您的计算机警告您，或者您可以选择关闭所有 cookie。 您可以通过浏览器（如 Internet Explorer）设置执行此操作。 每个浏览器都略有不同，因此请查看浏览器的“帮助”菜单以了解修改 cookie 的正确方法。" %}</p>
                <p>{% trans "如果您禁用 cookie，某些功能将被禁用，从而使您的网站体验更高效，并且我们的某些服务将无法正常运行" %}。</p>
                <h2 class="mt-2 font-weight-bold">Google</h2>
                <p>{% trans "我们与第三方供应商（例如 Google）一起使用第一方 cookie（例如 Google Analytics cookie）来衡量站点流量。" %}</p>
                <p>{% trans "选择退出" %}：
                </p>
                <p>{% trans "用户可以使用 Google 广告设置页面设置 Google 如何向您投放广告的偏好设置。 或者，您可以通过访问网络广告计划退出页面或永久使用 Google Analytics 退出浏览器插件来退出。" %}</p>
                <h2 class="mt-2 font-weight-bold">{% trans "站点如何处理不跟踪信号" %}？
                </h2>
                <p>{% trans "我们尊重不跟踪信号，不跟踪、植入 cookie 或使用不跟踪 (DNT) 浏览器机制时的广告" %}。</p>
                <h2 class="mt-2 font-weight-bold">{% trans "我站是否允许第三方行为跟踪" %}？</h2>
                <p>{% trans "我们不允许第三方行为跟踪" %}</p>
                <h2 class="mt-2 font-weight-bold">COPPA（{% trans "儿童在线隐私保护法" %}）</h2>
                <p>{% trans "在收集 13 岁以下儿童的个人信息时，《儿童在线隐私保护法》(COPPA) 将父母置于控制之下。 美国消费者保护机构联邦贸易委员会执行 COPPA 规则，该规则阐明了网站和在线服务的运营商必须采取哪些措施来保护儿童的在线隐私和安全。" %}</p>
                <p>{% trans "我们不会专门针对 13 岁以下的儿童进行营销。" %}</p>
                <h2 class="mt-2 font-weight-bold">{% trans "我们收集您的电子邮件地址是为了" %}：</h2>
                <ul class="pl-4 ml-2">
                    <li>{% trans "发送信息、回复查询和/或其他请求或问题" %}。</li>
                    <li>{% trans "在原始交易发生后，向我们的邮件列表推销或继续向我们的客户发送电子邮件。" %}</li>
                    <li>{% trans "隐私政策更新——我们保留随时修改本隐私政策的权利。 如果我们对本政策进行更改，我们可能会也可能不会通知您，因此您应该经常查看本隐私政策。如果对本隐私政策有任何疑问，请联系我们，您可以通过电子邮件与我们联系" %}：palmzhang19@gmail.com</li>
                </ul>

            </div>
        </div>
        </div>
        <div class="col-lg-4">
            {% include 'blog/tags/base_right.html' %}
        </div>
    </div>
</div>
{% endblock %}