{% extends "tool/base_tool.html" %}
{% load static %}

{% block head_title %}日语考试提醒工具{% endblock %}
{% block metas %}
    <meta name="description" content="日语考试提醒工具">
    <meta name="keywords" content="日语考试提醒工具">
{% endblock %}

{% block tool_name %}日语动词在线变形工具{% endblock %}
{% block left_content %}
<div class="card-body p-0">
    <h1 class="card-title pl-2 title-info">日语考试倒计时 : <span>{{ interval_days }}</span> 天 </h1>
    <p>
        <ul>
            <li>近期考试时间：2021年12月5日13:00。</li>
            <li>日语考试提醒请访问：<a href="">考试提醒工具</a></li>
        </ul>
    </p>
</div>
{% endblock %}

{% block end_f %}
<script>

</script>
{% endblock %}
