{% extends "tool/base_tool.html" %}
{% load static %}

{% block head_title %}日语面试对话练习,日语面试在线练习,在线免费日语口语{% endblock %}
{% block metas %}
    <meta name="description" content="日语面试对话练习,日语面试在线练习,在线免费日语口语,日语面试情景模拟,日语口语在线工具">
    <meta name="keywords" content="日语面试对话练习,日语面试在线练习,在线免费日语口语,日语面试情景模拟,日语口语在线工具">
{% endblock %}

{% block tool_name %}求职者在线模拟日语面试对话{% endblock %}
{% block left_content %}
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Article",
  "name" : "求职者在线模拟日语面试",
  "articleBody" : "这是一个模拟日语面试的页面，供日语初学者在面试前突击模拟。<BR/>\n        请在面试情景中选择一个需要模拟的场景，然后点击播放按钮，开始播放相应情景的提问。\n        每个提问后停留3秒钟。<BR/>\n        如果需要参考面试日语的文字版，请查阅 <A href=\"/category/japanese_interview/\">日语求职面试",
  "url" : "https://nihonstudy.net/tool/interview_dialogue/"
}
</script>
<div class="card-body p-0">
    <h2 class="card-title pl-2 title-info">求职者在线模拟日语面试</h2>
    <div>
        这是一个模拟日语面试的页面，供日语初学者在面试前突击模拟。<br>
        请在面试情景中选择一个需要模拟的场景，然后点击播放按钮，开始播放相应情景的提问。
        每个提问后停留3秒钟。<br>
        如果需要参考面试日语的文字版，请查阅 <a href="/category/japanese_interview/" href="_blank">日语求职面试</a>
    </div>
    <hr>
    <h2 class="card-title pl-2 title-info">选择面试情景</h2>
    <div class="tag-cloud">
        <a href="?tag=1" class="tags f-16">面试开场白</a>
        <a href="?tag=2" class="tags f-16">电话面试简谈</a>
        <a href="?tag=3" class="tags f-16">介绍自己的个人信息</a>
        <a href="?tag=4" class="tags f-16">介绍自己的家庭</a>
        <a href="?tag=5" class="tags f-16">介绍教育背景</a>
        <a href="?tag=6" class="tags f-16">表达自己的专长技能</a>
        <a href="?tag=7" class="tags f-16">回顾工作经历</a>
        <a href="?tag=8" class="tags f-16">过往成就业绩</a>
        <a href="?tag=9" class="tags f-16">语言能力如何</a>
        <a href="?tag=10" class="tags f-16">个人特质</a>
        <a href="?tag=11" class="tags f-16">描述自己的兴趣爱好</a>
        <a href="?tag=12" class="tags f-16">自己的职业展望</a>
        <a href="?tag=13" class="tags f-16">为什么会来应聘？</a>
        <a href="?tag=14" class="tags f-16">对我们公司有没有了解？</a>
        <a href="?tag=15" class="tags f-16">换工作的理由</a>
        <a href="?tag=16" class="tags f-16">谈薪资报酬</a>
        <a href="?tag=17" class="tags f-16">节假日福利</a>
        <a href="?tag=18" class="tags f-16">面试结束语</a>
        <a href="?tag=19" class="tags f-16">签订合同</a>
    </div>
    <hr>
    <div>
        <div>当前情景: {{ tag_name }}</div>
        <div id="music"> </div>
    </div>
    <div id="music-list" style="display:none">
        <ul>
            {% for file_list in dir_list %}
                {% for file in file_list %}
                    <li>{{ file }}</li>
                {% endfor %}
            {% endfor %}
            <li></li>
        </ul>
    </div>
    <div>
        <img id="player" src="/static/blog/img/music-start.png" alt="" onclick="playmusic()">
    </div>
    <script>
        function playmusic() {
            elementList = document.getElementById("music-list").getElementsByTagName("ul")[0].getElementsByTagName("li");
            var musicList = new Array();
            for (var i=0; i<elementList.length; i++){
                if (elementList[i].innerHTML != ""){
                    musicList.push(elementList[i].innerHTML);
                }
            }
            console.log(musicList);
            var myAudio = new Audio();
            myAudio.preload = false;
            myAudio.controls = true;
            myAudio.hidden = true;
            var src = '/media/interview/'+ musicList.shift();
            myAudio.src =src;
            myAudio.addEventListener("ended",playEndedHandler,false);
            myAudio.play();
            document.getElementById("music").appendChild(myAudio);
            myAudio.loop = false;
            function playEndedHandler(){
                src = '/media/interview/'+ musicList.shift();
                myAudio.src = src;
                sleep(3000).then(() => {
                    myAudio.play();
                })
                
            }
        }
        function sleep (time) {
            return new Promise((resolve) => setTimeout(resolve, time));
        }
    </script>
</div>
{% endblock %}

{% block end_f %}
<script>

</script>
{% endblock %}
